# CS188 Note 1. Python Basics

Basic Calculation in Python

In [1]:
1 + 1 #数据加操作符

2

In [2]:
2 * 3

6

In [3]:
print("Hello")

Hello

In [4]:
3**2 #幂运算

9

In [5]:
5 // 2 #整除商

2

In [6]:
1 == 0

False

In [7]:
not (1 == 0)

True

True和False表示命题是否成立，是一个逻辑的概念，这和其他编程语言是类似的，当然在Python中也有一个独特的地方，请见下文

In [8]:
3 > 2 > 1

True

在Python中，上述表达式的意思是3 > 2 > 1，而在其他语言比如说C语言，这段代码表示的是(3 > 2) > 1，即True > 1

In [9]:
(3 > 2) > 1

False

In [10]:
(3 > 2) > 0

True

In [13]:
(int)(3 > 2)

1

In [14]:
(int) (2 > 3)

0

上述代码说明，在Python中的True也表示1，而False表示0

In [18]:
x = 50

In [20]:
1 < x < 100 # 在Python中可以用前者代替x > 1 and x < 100

True

Python中的优先级，口诀"not and or"，not最高，and其次，or最后，如果实在拿不准，加括号就行了

In [23]:
(2 == 2) and (2 < 3)

True

Strings in Python

In [24]:
"Hello"

'Hello'

In [25]:
"H" #在Python中没有char的概念，因此哪怕是只有一个字符或者是单引号，都表示字符串的概念，但是我们一般不会写单引号

'H'

In [26]:
"What's this" #双引号和单引号在Python中的本质是一样的，唯独需要注意的是当我们的字符串中有了单引号，我们就应该用双引号表示字符串

"What's this"

In [27]:
'''I said, "What's this"''' #当我们这句话中既有双引号又有单引号，我们需要用三引号将字符串括起来

'I said, "What\'s this"'

In [29]:
'''Hello
World''' # 三引号的字符串可以支持换行，当然这个功能可以用转义字符\n来实现

'Hello\nWorld'

字符串的相关功能与操作

In [30]:
"hello" + "world"

'helloworld'

In [31]:
"hello" * 3 # 字符串乘上一个整数表示将字符串重复这个整数的次数

'hellohellohello'

在Python中，单行注释用#，多行注释用三引号

In [32]:
"hello".upper() #字符串的方法，将字符串的所有“字符”转换成大写

'HELLO'

In [36]:
#store expressions into variables
x = 3
y = 5
x, y = y, x #Python中可以利用这句话交换两个变量的值
x, y

(5, 3)

In [43]:
y += 1
y

4

List in Python

In [44]:
fruits = ['apple', 'orange', 'pear', 'orange'] #用方括号将数据括起来，相当于其他语言的数组，在Python中称为列表

In [45]:
type(fruits)

list

In [46]:
#访问列表中的数据元素
fruits[0]

'apple'

In [52]:
print(fruits[0:3]) #用数据的切片操作输出列表的区间
#标准格式为list[start:end:step]，按照step的间隔访问从start到 end（不包含end）的元素
fruits[0:3:2]

['apple', 'orange', 'pear']

['apple', 'pear']

在C语言或者在其他编程语言中，我们经常需要用循环或者其他方式进行逆序输出一个数组，但是这在Python中的列表操作中就显得非常简单

In [49]:
fruits[::-1]

['orange', 'pear', 'orange', 'apple']

In [50]:
fruits[-1] #倒数第一个元素

'orange'

In [51]:
#添加元素
fruits.append("grape")
fruits

['apple', 'orange', 'pear', 'orange', 'grape']

In [53]:
#多维列表
lstOfLists = [['a', 'b', 'c'], [1, 2, 3], ['one', 'two', 'three']]
lstOfLists[1][2]

3

In [55]:
lstOfLists[0].pop() #默认弹出列表中的最后一个元素
lstOfLists

[['a', 'b'], [1, 2, 3], ['one', 'two', 'three']]

Tuples in Python

In [56]:
# 元组能实现列表的只读不改的功能，只需要将列表的方括号改成圆括号即可
(1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

Collections in Python

In [57]:
{1, 2, 3, 1, 2, 3} #集合中不能包含相同的元素

{1, 2, 3}

In [61]:
#集合的运算：并交差
{1, 2, 3} & {3, 4, 5} #取交集

{3}

In [59]:
{1, 2, 3} | {3, 4, 5} #取并集

{1, 2, 3, 4, 5}

In [60]:
{1, 2, 3} - {3, 4, 5} #取差集

{1, 2}

In [62]:
#判断元素是否在集合中
6 in {1, 2, 3}

False

In [63]:
#判断一个集合是否是另一个集合的（真）子集
{1, 2} < {1, 2, 3}

True

Dictionary in Python

In [64]:
stus = [{"name":"Zhang", "sex":"male", "age":28}, {"name":"Wang", "sex":"female", "age":35}]

In [69]:
stus[0] #利用指定下标访问列表，可以获得这个学生（元素）的所有键（key）和值（value）

{'name': 'Zhang', 'sex': 'male', 'age': 28}

In [70]:
stus[0]["name"] #用字符串来找到某个集合中的数据，与人类的认知相似

'Zhang'